/* Left Side */

.left-side {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 3rem;
    height: 100vh;
    background-color: var(--bg-light);
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.1);
}

.text-primary h2 {
    font-size: 1.8rem;
    color: var(--txt-primary);
}

.text-secondary p {
    font-size: 1.1rem;
    text-align: justify;
    color: var(--txt-secondary);
}


/* Separator Line */

hr {
    width: 80%;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Right Side */

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Login Box */

.login-box {
    width: 30vw;
    height: 70vh;
    min-height: 300px;
    min-width: 200px;
    border-radius: 20px;
    background-color: var(--bg-light);
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
}


/* Image */

.img-box {
    height: 20vh;
}

#login-img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}


/* Title */

.title-box {
    margin-top: 1rem;
    padding-left: 15%;
}

.title-box h2 {
    font-size: 2rem;
    color: var(--txt-primary);
}


/* Form Login */

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
}

.email-box,
.passwd-box {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.passwd-box {
    position: relative;
}

.email-box input,
.passwd-box input {
    width: 70%;
}

.eye-icon {
    position: absolute;
    top: 30%;
    right: 18%;
    z-index: 999;
}

.eye-icon button {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, 0.4);
}

.eye-icon button:hover {
    color: rgba(0, 0, 0, 0.6);
}

#hide-passwd {
    display: none;
}

.forgot-passwd-above-box {
    position: absolute;
    top: 100%;
    left: 16%;
}

.forgot-passwd-above-box a {
    font-size: 1rem;
}

.forgot-passwd-above-box {
    display: none;
}


/* Buttons */

.btn-box {
    text-align: center;
    width: 100%;
}

.btn-box button {
    width: 50%;
}


/* Below Login */

.below-login {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}

.create-account h4 {
    color: var(--txt-primary);
}


/* Media Queries*/

@media screen and (max-height: 625px) {
    .separator {
        display: none;
    }
    .create-account {
        margin-top: 2vh;
    }
}

@media screen and (max-height: 720px) {
    .create-account h4 {
        display: none;
    }
}

@media screen and (max-height: 770px) {
    .forgot-passwd-below-box {
        display: none;
    }
    .forgot-passwd-above-box {
        display: block;
    }
    .passwd-box {
        margin-bottom: 3vh;
    }
}

@media screen and (max-width: 319px) {
    .login-box {
        width: 90vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .login-box {
        width: 80vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .login-box {
        width: 60vw;
    }
}

@media screen and (max-width: 767px) {
    .left-side {
        display: none;
    }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
    .login-box {
        width: 35vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .login-box {
        width: 30vw;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
    .login-box {
        width: 30vw;
        height: 70vh;
    }
}

@media screen and (min-width: 1301px) {
    .login-box {
        width: 25vw;
        height: 70vh;
    }
}