body {
    background-image: url("/Configuracoes/images/fundo_Login.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    font-weight: bolder;
}

h1 {
    text-align: center;
    padding: 10px 0px;
    color: black;
}

#msg {
    height: 60px;
}

#grid-contatos tbody {
    cursor: pointer;
}

.scrollbar-near-moon::-webkit-scrollbar-track {
    background-color: #f5f5f575;
    border-radius: 20px;
}

.scrollbar-near-moon::-webkit-scrollbar {
    background-color: #ffffff00;
}

.scrollbar-near-moon::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#8aa3c4), to(#8b73ac));
    background-image: -webkit-linear-gradient(bottom, #8aa3c4 0%, #8b73ac 100%);
    background-image: linear-gradient(to top, #8aa3c4 0%, #8b73ac 100%);
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 8px;
}

.fixedFooter {
    width: 100%;
    height: 30px;
    text-align: center;
}

.sidebarHeight {
    margin-top: 64px;
    height: calc(100vh - 64px);
    margin-left: 64px;
}

.sidebarwidth {
    width: 160px;
}

.siderbarMargin {
    margin-left: 20px;
    margin-right: 20px;
}

#bordertest {
    border-color: #ffffff3b !important;
}

.inner_content {
    padding: 20px 10px;
}

.sidebarHeight2 {
    height: calc(100vh - 50px) !important;
}

.fundoBranco {
    background-color: #f3f0f7 !important;
}

.fundoClaro {
    background-color: #e8e3eef8 !important;
}

.fundoMedio {
    background-color: #a79cb688 !important;
}

.fundoEscuro {
    background-color: #4c3e5f !important;
}

.fundoMaisEscuro {
    background-color: #3b3248 !important;
}

.fundoBemMaisEscuro {
    background-color: #2b2335 !important;
}

.Navbar_words {
    color: white;
    height: 8px;
    font-size: 1rem;
}

.fullHeight {
    height: 100vh;
}

.centralizarTexto {
    text-align: center;
}

.nav-item {
    margin-left: 25px;
}

.has-search .form-control {
    padding-left: 3rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    padding-top: 11px;
    padding-left: 11px;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
}

li a {
    text-decoration: none;
}

#responsive_input2 {
    float: right;
    margin-right: 10px;
    margin-left: auto;
}

#responsive_input {
    height: 40px;
    width: 30vw;
    max-width: 500px;
}

#float_config {
    float: right;
}

.margin_text {
    text-align: center;
    max-width: calc(25% + 400px);
    margin: 0px auto;
}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 767px) {
    #responsive_input {
        width: calc(100vw - 135px);
        max-width: 100vw;
        margin: auto;
        height: 43px;
    }
    #responsive_input2 {
        float: none;
        margin: auto;
    }
    #responsive_input3 {
        position: absolute;
        top: 11px;
        left: 65px;
        width: calc(100vw - 135px);
        margin: auto;
    }
    #collapse_Button {
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .navbar_collapse {
        margin-left: -40px;
    }
    .max_menu_size {
        width: calc(100vw - 125px) !important;
        margin-top: 48px;
    }
    .Navbar_words {
        padding: 2px 0px 10px 0px;
    }
    #logo_position {
        position: absolute;
        top: 10px;
        left: 12px;
    }
    #aparecer_linha {
        display: block !important;
        margin: 0px 0px 0px 30px;
        width: calc(100vw - 125px) !important;
    }
}

@media screen and (max-width: 576px) {
    #desaparecer {
        display: none !important;
    }
    .sidebarwidth {
        width: 140px;
    }
    #float_config {
        float: none;
    }
    #fullsizebtn {
        width: 100%;
    }
    #fullsizebtn2 {
        width: calc(50% - 8px);
    }
    #fullsizedropdown {
        width: 100%;
        text-align: center;
    }
}